version: '3.5'

services:
  db:
    image: mariadb:lts
    command: --transaction-isolation=READ-COMMITTED
    restart: always
    volumes:
      - "./db:/var/lib/mysql" #./db是数据库持久化目录，可以修改
    environment:
      - MYSQL_ROOT_PASSWORD=dzzoffice
      - MARIADB_AUTO_UPGRADE=1
      - MARIADB_DISABLE_UPGRADE_BACKUP=1
    env_file:
      - db.env
      
  app:
    image: xiaohu2023/dzzoffice
    restart: always
    ports:
      - "8080:80" #左边8080是映射的主机端口，可以修改。右边80是容器端口
    volumes:
      - "./site:/var/www/html" #./site是站点目录位置,，可以修改。映射整个项目目录到容器的/var/www/html目录下
    environment:
      - MYSQL_HOST=db
      - REDIS_HOST=redis
    env_file:
      - db.env
    depends_on:
      - db
      - redis

  redis:
    image: redis:alpine
    restart: always
